<!--
  Generated template for the Order page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Create Order</ion-title>
    <ion-buttons left>
    	<button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<div padding *ngIf="!order">
		<form [formGroup]="orderForm" (ngSubmit)="saveNewOrder(orderForm.value)">
		        <ion-item>
		            <ion-label floating>Order...</ion-label>
		            <ion-input type="text" value="" [formControl]="orderForm.controls['orderNumber']" [ngClass]="{'error-border':!orderForm.controls['orderNumber'].valid}"></ion-input>          
		        </ion-item>
		        <ion-item>
		            <ion-label floating>Description...</ion-label>
		            <ion-input type="text" value="" [formControl]="orderForm.controls['description']" [ngClass]="{'error-border':!orderForm.controls['description'].valid}"></ion-input>          
		        </ion-item>
		        <br/>
		        <div class="error-box" *ngIf="orderForm.controls['description'].hasError('required') && orderForm.controls['description'].touched">* Quantity is required!</div>

				<button type="submit" ion-button color="light" full [disabled]="!orderForm.valid">
					<ion-icon name="save"></ion-icon>
					Save
				</button>
		</form>
	</div>
	<ion-card *ngIf="order">	  
	  <ion-card-content>
	    <ion-card-title>
	      {{order.orderNumber}}
	      </ion-card-title>
	    <p>
	      {{order.description}}
	    </p>
	    <ion-row>
		    <ion-col>
		      <button ion-button icon-left color="light" full  (click)="addNewItem()">
			  	<ion-icon name="add"></ion-icon> New Item
			</button>
		    </ion-col>
		</ion-row>
	    
	  </ion-card-content>
	</ion-card>
	
	<ion-list *ngIf="order">
		<ion-item *ngFor="let item of order.items">
			<ion-row>
				<ion-col>
					<h3>{{item.description}}</h3>
				</ion-col>				
			</ion-row> 
			<ion-row>
				<ion-col>
					<h4>{{item.quantity}} {{item.unit}}</h4>
					<p>{{item.observation}}</p>
				</ion-col>				
			</ion-row>			
		</ion-item>

		

	</ion-list>
	
</ion-content>
